h1 {
    font-size: 30px;
    margin-top: 50px;
}

.profile-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* アップロードされた画像のスタイル */
.user-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
}

.image-none {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: cover;
    background-color: grey;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

input[type="file"] {
    display: none;
}

.custom-file-label {
    display: inline-block;
    background-color: #fff;
    padding: 5px 10px;
    border: 2px solid #FF5555;
    border-radius: 5px;
    font-size: 14px;
    color: #FF5555;
}

label {
    font-size: 20px;
    font-weight: bold;
}

.profile-form-group {
    margin: 40px;
    display: flex;
    flex-direction: column;
}

.error-message {
    color: #FF5555;
    font-size: 16px;
    margin-top: 5px;
}

.form-item {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
}

.profile-edit-btn {
    width: 500px;
    padding: 10px;
    background-color: #FF5555;
    color: #fff;
    border: none;
    margin: 20px 40px 30px 40px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: bold;
}

/* PCスタイル (1400-1540px) */
@media (min-width: 1400px) and (max-width: 1540px) {}

/* タブレットスタイル (768-850px) */
@media (min-width: 768px) and (max-width: 850px) {}